name: Docker Lint

on:
  push:
    branches: [main]
    paths: 
      - '.dockerignore'
      - '.github/workflows/docker-lint.yml'
      - 'Dockerfile'
  pull_request:
    paths: 
      - '.dockerignore'
      - '.github/workflows/docker-lint.yml'
      - 'Dockerfile'

permissions: {}

jobs:
  DockerLint:
    permissions:
      contents: read  # for actions/checkout to fetch code
    name: Docker Lint
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Docker Lint
        uses: docker://replicated/dockerfilelint:latest@sha256:15ce784e5847966b6d9a88cba348a9429f8b5212f6017180f10ce36b472dfe52
        with:
          args: Dockerfile
